<%- include('../partials/header') %>
<body>
    <!-- code to upload/retrive images was taken from 
        https://www.geeksforgeeks.org/upload-and-retrieve-image-on-mongodb-using-mongoose/ -->

    <h1>Dupes</h1> 
    <div> 
      <% product.imgs.forEach(function(images) { %>  
        <div> 
            <div> 
                <img src="data:image/<%=images.imgs.contentType%>;base64, 
                <%=images.imgs.data.toString('base64')%>"> 
            </div> 
            <div> 
              <h5><%= images.name %></h5> 
              <h5><%= images.price %></h5> 
          </div> 
        </div> 
        <% }) %> 
    </div>  
    
<%- include('../partials/footer') %>

