<%- include('../partials/header') %>
  <h1>Product List</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Description</th>
        <th>Colour</th>
        <th>Price</th>
        <th>Ratings</th>
      </tr>
    </thead>
    <tbody>
        
      <% product.forEach(function(p) { %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.brand %></td>
          <td><%= p.description %></td>
          <td><%= p.colour %></td>
          <td><%= p.price %></td>
          <td><%= p.rating %></td>
          <td><a href="/products/<%= p._id %>">DETAILS</a></td>
          <td><form action="/products/<%= p.id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
              </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
<%- include('../partials/footer') %>
