<%- include('../partials/header') %>
   <!-- code to upload/retrive images was taken from 
        https://www.geeksforgeeks.org/upload-and-retrieve-image-on-mongodb-using-mongoose/ -->

<div> 
    <% product.img.forEach(function(image) { %>  
<div> 
<div> 
    <img src="data:image/<%=image.img.contentType%>;base64, 
    <%=image.img.data.toString('base64')%>"> 
</div> 
</div> 
     <% }) %> 
</div> 

<section>
  <div>Name: </div>
  <div><%= product.name %></div>
  <div>Brand: </div>
  <div><%= product.brand %></div>
  <div>Description: </div>
  <div><%= product.description %></div>
  <div>Colour: </div>
  <div><%= product.colour %></div>
  <div>Price: </div>
  <div><%= product.price %></div>
  <div>Ratings: </div>
  <div><%= product.rating %></div>
</section>

<br><br><h3><a href="/products/<%= product._id %>/images/new">ADD IMAGE</a></td></h3>
<br><br><h3><a href="/products/<%= product._id %>/dupes/new">ADD DUPE</a></td></h3>
<br><br><h3><a href="/products/<%= product._id %>/dupes/show">VIEW DUPE</a></td></h3>

<br><br><h2>Reviews</h2>
<form method="POST"
  action="/products/<%= product._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<% if (product.review.length) { %>
  <table>
    <thead>
      <tr>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% product.review.forEach(function(r) { %>
        <tr>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
