<%- include('../partials/header') %>
   <!-- code to upload/retrive images was taken from 
        https://www.geeksforgeeks.org/upload-and-retrieve-image-on-mongodb-using-mongoose/ -->
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          
          
<style>
.fa {
font-size: 50px;
cursor: pointer;
user-select: none;
}
          
.fa:hover {
 color: darkblue;
          }
</style>
</head>

<main class="container">

<div class = "left-side">
  <div id = "imageProduct"> 
    <% product.img.forEach(function(image) { %>  
    <div> 
    <div> 
     <img src="data:image/<%=image.img.contentType%>;base64, 
    <%=image.img.data.toString('base64')%>"> 
    </div> 
    </div> 
     <% }) %> 
  </div> 
</div>


<div class = "right-side">

  <div class = "product-header">
    <h3><%= product.brand %></h3>
    <h2><%= product.name %></h2>
    <p><%= product.rating%></p>
  </div>

  <div class = "product-body">
    <p> Shade: <%= product.colour %></p>
    <p><%= product.description %></p>
  </div>

  <div class = "product-links">
    <div class="links">

      <!-- ADD IMAGE -->
      <div class="modal fade" id="modalRegisterForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Add Image</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="/products/<%= product._id %>/images" method="POST" enctype="multipart/form-data"> 
    <div class="modal-body mx-3">
      <div class="md-form mb-4">
        <i class="fas fa-camera prefix grey-text"></i>
        <input type="file" name="image" value="" class='form-control'>
        <label data-error="wrong" data-success="right" for="form29"></label>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-deep-orange" type="submit">Submit</button>
    </div>
  </div>
</div>
</div>
</form> 
<div class="text-left">
  <h3><a href="/products/<%= product._id %>/images/new" class="btn btn-dark btn-rounded mb-4" data-toggle="modal" 
    data-target="#modalRegisterForm1">Add An Image</a></h3>
</div>
<!-- ADD DUPE -->
      <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Add Dupe</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="/products/<%= product._id %>/dupes" method="POST" enctype="multipart/form-data"> 
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <i class="fas fa-cart-plus prefix grey-text"></i>
        <input type="text" name="name" id="orangeForm-name" class="form-control validate">
        <label data-error="wrong" data-success="right" for="orangeForm-name">Product Name</label>
      </div>
      <div class="md-form mb-5">
        <i class="fas fa-dollar-sign prefix grey-text"></i>
        <input type="text" name="price"id="form32" class="form-control validate">
        <label data-error="wrong" data-success="right" for="form32">Product Price</label>
      </div>

      <div class="md-form mb-4">
        <i class="fas fa-camera prefix grey-text"></i>
        <input type="file" name="image" id = "form29" value="" class='form-control'>
        <label data-error="wrong" data-success="right" for="form29"></label>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-deep-orange" type="submit">Submit</button>
    </div>
  </div>
</div>
</div>

</form> 

<div class="text-left">
  <h3><a href="/products/<%= product._id %>/dupes/new" class="btn btn-dark btn-rounded mb-4" data-toggle="modal" 
    data-target="#modalRegisterForm">Add A Dupe</a></h3>
</div>

<!-- SHOW DUPE -->
<h3 class = 'add-dupe'><a href="/products/<%= product._id %>/dupes/show" class="btn btn-dark btn-rounded mb-4" >View Dupes</a></h3>
    </div>


</div>

<div class = "price">
  <span>$<%= product.price %></span>
  <!-- I got this from https://likebtn.com/en/ -->
  <!-- LikeBtn.com BEGIN -->
  <span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt2" data-icon_l_c_v="#fb0545" data-icon_d_c_v="#000000" data-ef_voting="buzz" data-identifier="like" data-counter_zero_show="true" data-share_size="large"></span>
  <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
  <!-- LikeBtn.com END -->
</div>

</div>

</main>

<div class = 'line'></div>

<div class = "bottom">
<br><h2>Reviews & Ratings</h2>

<div class="modal fade" id="modalRegisterForm5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Rate & Review The Product</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="/products/<%= product._id %>/reviews" method="POST" > 
    <div class="modal-body mx-3">

      <div class="md-form mb-4">
        <p>Add A Product Review </p>
        <textarea type="text" name="content" id="form32" class="form-control validate"></textarea>
        <label data-error="wrong" data-success="right" for="form32"></label>
      </div>
      <div class="md-form mb-5">
            <select class="form-control"  name="rating">
              <p>Rate The Product </p>
              <option value="" disabled selected>Ratings</option>
                <option value="☆☆☆☆☆">☆☆☆☆☆</option>
                <option value="★☆☆☆☆">★☆☆☆☆</option>
                <option value="★★☆☆☆">★★☆☆☆</option>
                <option value="★★★☆☆">★★★☆☆</option>
                <option value="★★★★☆">★★★★☆</option>
                <option value="★★★★★">★★★★★</option>
            </select>
        <label data-error="wrong" data-success="right" for="form32"></label>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-deep-orange" type="submit">Submit</button>
    </div>
  </div>
</div>
</div>
</form> 
<div >
  <span>
  <h3 class= "rate-link"><a href="/products/<%= product._id %>/reviews" class="btn btn-dark btn-rounded mb-4" data-toggle="modal" 
    data-target="#modalRegisterForm5">Rate & Review</a></h3>
  </span>
</div>

<% if (product.review.length) { %>
  <div class="col-md-10">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% product.review.forEach(function(r) { %>
        <tr>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
</div>

</div>

  
<%- include('../partials/footer') %>
